<div class="container">
  <div class="row">
    <div class="mx-auto">
      <!--books#newのバリデーションメッセージ-->
      <% if @book.errors.any? %>
        <p><%= @book.errors.count %>errors prohibited this obj from being saved:</p>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h2>Editing Book</h2>

      <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

        <p>Title</p>
        <%= f.text_field :title %>

        <p>Opinion</p>
        <%= f.text_area :body %>

        <div id="star-<%= @book.id %>"></div>

        <p><%= f.submit 'Update Book',class:"btn btn-success" %></p>

        <p>
          <%= link_to "Show", book_path(@book.id) %>
          | <%= link_to "Back", books_path %>
        </p>

        <% end %>

    </div>
  </div>
</div>

<script>
// scriptファイルをどのidの部分に配置するかを指定
elem = document.querySelector('#star-<%= @book.id %>');
opt = {
  //星画像の指定などのオプションをここに記述,
  starOff: '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'book[star]',
  half: true,
  readOnly: true,
  score: <%= @book.star %>
 };
raty(elem,opt);
</script>