
<div class="container">
  <div>
  <%= flash[:notice] %>
  </div>
  <div class = "row">
    <div class ="col-md-3">
      <h1>User info</h1>
      <%= render 'users/info', user: @show_book.user %>


      <h1>New book</h1>
      <%= render 'form', book: @book %>
    </div>

    <div class ="col-md-8 offset-md-1">
      <!--showの部分-->
      <!--ユーザの画像を表示するところ-->
      <h2>Book detail</h2>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <p><%= image_tag @user.get_profile_image(100,100) %></p>
                <p><%= @user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to @show_book.title, book_path(@show_book.id) %>
            </td>
            <td>
              <span><%= @show_book.body %></span>
            </td>
            <!--いいね機能-->
            <td id="favorite_buttons_<%= @show_book.id %>">
              <%= render "favorites/favorite", book: @show_book %>
            </td>
            <!--コメント数機能-->
            <td>
              <p>コメント数：<%= @show_book.book_comments.count %></p>
            </td>

            <%if @show_book.user == current_user %>
              <td>
                <!--Editボタン-->
                <%= link_to "Edit", edit_book_path(@show_book.id), class: ' btn btn-success' %>
              </td>
              <td>
                <!--Destroyボタン-->
                <%= link_to "Destroy", book_path(@show_book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: ' btn btn-danger' %>
              </td>
            <% end %>
          </tr>

          <!--コメント投稿内容-->
          <% @show_book.book_comments.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user.id) do %>
                  <%= image_tag book.user.get_profile_image(100,100) %><%= book.user.name %>
                <% end %>
              </td>
              <td><%= book.comment %></td>
              <!--削除ボタン-->
              <td>
                <% if book.user == current_user %>
                  <%= link_to "Destroy", book_book_comments_path(book.id), method: :delete ,class: ' btn btn-danger'%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!--コメント投稿するところ-->
      <div>
        <%= form_with model: [@show_book,@book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
