
<div class="container">
  <div>
  <%= flash[:notice] %>
  </div>
  <div class = "row">
    <div class ="col-md-3">
      <h1>User info</h1>
      <%= render 'users/info', user: @show_book.user %>


      <h1>New book</h1>
      <%= render 'form', book: @book %>
    </div>

    <div class ="col-md-8 offset-md-1">
      <!--showの部分-->
      <!--ユーザの画像を表示するところ-->
      <h2>Book detail</h2>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <p><%= image_tag @user.get_profile_image(100,100) %></p>
                <p><%= @user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to @show_book.title, book_path(@show_book.id) %>
            </td>
            <td>
              <span><%= @show_book.body %></span>
            </td>
            <!--いいね機能-->
            <td id="favorite_buttons_<%= @show_book.id %>">
              <%= render "favorites/favorite", book: @show_book %>
            </td>
            <!--コメント数機能-->
            <td>
              <p>コメント数：<%= @show_book.book_comments.count %></p>
            </td>
            <td>
              <div id="star-<%= @show_book.id %>"></div>
            </td>

            <%if @show_book.user == current_user %>
              <td>
                <!--Editボタン-->
                <%= link_to "Edit", edit_book_path(@show_book.id), class: ' btn btn-success' %>
              </td>
              <td>
                <!--Destroyボタン-->
                <%= link_to "Destroy", book_path(@show_book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: ' btn btn-danger' %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <!--コメント投稿内容-->

          <div id="book_comments"><%= render "book_comments/book_comment_index", book: @show_book %></div>


      <!--コメント投稿するところ-->
      <div id="book_comment_form"><%= render "book_comments/book_comment_form", book: @show_book,book_comment: @book_comment %></div>
    </div>
  </div>
</div>


<script>
// scriptファイルをどのidの部分に配置するかを指定
elem = document.querySelector('#star-<%= @show_book.id %>');
opt = {
  //星画像の指定などのオプションをここに記述,
  starOff: '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'book[star]',
  half: true,
  readOnly: true,
  score: <%= @show_book.star %>
 };
raty(elem,opt);
</script>